{% extends 'app/base.html' %}
{% load static %}

{% block title %}Password Changed Successfully{% endblock title %}

{% block main-content %}

<div class="container my-5">
    <div class="row">
        
        <h3 class="mb-4">
            Welcome:
            <span class="text-capitalize">{{ request.user.username }}</span>
        </h3>

        <!-- Sidebar -->
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid mb-3">
                    <a href="{% url 'profile' %}" class="btn btn-danger">
                        Profile
                    </a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3 class="text-success mb-4">
                Password Changed Successfully !!!
            </h3>

            <div>
                <iframe 
                    src="https://giphy.com/embed/iboliLe3mQHE3PQTtk"
                    width="200"
                    height="200"
                    frameborder="0"
                    class="giphy-embed"
                    allowfullscreen>
                </iframe>
            </div>
        </div>

    </div>
</div>

{% endblock main-content %}